{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<h1>{{ user.username }}</h1>
	<h2>So now it begins</h2>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Amass wealth as one</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Create Fund</button>
            </div>
        </form>
    </div>
{% endblock content %}
